<?xml version="1.0"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="SmartGateway" connectionString="Data Source=C:\MySpace\2009\MessagingToolkit\MessagingToolkit.DatabaseStore\messagingtoolkit.db;" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <!--
  <system.serviceModel>
    <services>
       <service name="MessagingToolkit.SmartGateway.Service.Interprocess.ServiceCommand"
               behaviorConfiguration="ServiceCommandBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceCommand/service"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="MessagingToolkit.SmartGateway.Service.Interprocess.IServiceCommand" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceCommandBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  -->

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
